<% provide :title, t("home") %>

<div class="jumbotron">
  <h1>Welcome to Framgia e-learning</h1>
  <h2>This is the home page for Framgia e-learning center.</h2>

  <%= link_to t("sign_up"), "#", class: "btn btn-lg btn-primary" %>
</div>
