<% provide :title, t("home") %>

<div class="jumbotron center">
  <h1><%= t("welcome") %></h1>
  <h2><%= t("introduce") %></h2>
  <% unless logged_in? %>
    <%= link_to t("sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
