<tr>
  <td><span class="<%= lesson_word.answer.correct? ?
    "glyphicon glyphicon-ok green" : "glyphicon glyphicon-remove red" %>"></span></td>
  <td><%= lesson_word.word.jp_word %></td>
  <td><%= lesson_word.answer.answer_content %></td>
</tr>
