<% provide :title, @user.username %>
<div class="row">
  <aside class="col-md-4">
    <%= render "shared/user_info" %>
    <section class="stats">
      <%= render "shared/stats" %>
      <%= render "follow_form" if logged_in? %>
    </section>
  </aside>
</div>
